ul.topbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#ffa472;
}

ul.topbar li {float: left;}

ul.topbar li a {
  display: block;
  color:#ffc99d;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topbar li a:hover:not(.active) {background-color: 	white;}

ul.topbar li a.active {background-color: #ffa472}

ul.topbar li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topbar li.right, 
  ul.topbar li {float: none;}
}
body {
  background-color: #ffa472;
}
img{
  width: 800px;
}